extends ../base

block content
    div.container.flex-container
        include ../partials/sidebar
        div.form-wrapper
            form(method="POST").bg-white
                div.m-2
                    label(for="serial").form-label License Serial
                    input(type="text" name="serial" value=assignment.serial readonly).form-control.assignment__serial
                div.m-2
                    label(for="ip").form-label Ip
                    input(type="text" name="ip" value=assignment.ip required).form-control.assignment__ip
                div.m-2
                    label(for="company").form-label License Company
                    input(type="text" name="company" value=assignment.company required).form-control.assignment__company
                div.m-2
                    label(for="name").form-label License Name
                    input(type="text" name="name" value=assignment.name required).form-control.assignment__name
                div.m-2
                    label(for="user").form-label User
                    input(type="text" name="user" value=assignment.user required).form-control.assignment__name
                div.m-2
                    label(for="assignedNumbers").form-label assignedNumbers
                    input(type="text" name="assignedNumbers" value=assignment.assignedNumbers required).form-control.assignment__number
                div.m-2
                    label(for="activationDate").form-label activation Date
                    input(type="date" name="activationDate" value=`${moment(assignment.activationDate).format("YYYY-MM-DD")}` required).form-control.license__activation
                div.m-2
                    label(for="expirationDate").form-label Expiration Date
                    input(type="date" name="expirationDate" value=`${moment(assignment.expirationDate).format("YYYY-MM-DD")}` required).form-control.license__expiration
                div.m-2
                    label(for="memo").form-label Memo
                    textarea(name="memo" rows="3").form-control=assignment.memo
                hr.my-4.m-2
                div.m-2
                    button(type="submit").w-100.btn.btn-primary.btn-lg Submit

